.HBHeader {
	display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
	background-color: white;
}

.HBHeader img {
	margin-left: 8%;
	height: 10%;
	width: 10%;
}

.HBHeader h1 {
	flex-grow: 1;
  text-align: center;
	color: #e8100c;
	margin: 0;
}

.HBHeader p {
	margin: 0px;
	position: absolute;
  bottom: 1px;
  right: 10px;
	color: black;
	font-size: x-small;
}