.HBTeaList {
	background-color: white;
}

.HBTeaList h2 {
	color:black
}

.HBTeaList table {
	border-collapse: collapse;
	width: 100%;
}

.HBTeaList tr {
	border-bottom: 1px solid black;
	padding-bottom: 1%;
}

.HBTeaList thead {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

.HBTeaList p {
	color: black;
}

.teaType {
	width: 10%;
	text-align: left;
}

.teaName {
	width: 25%;
	text-align: left;
}

.teaDescription {
	width: 41%;
	text-align: left;
}

.teaTemp {
	width: 12%;
	text-align: center;
}

.teaBrewTime {
	width: 12%;
	text-align: center;
}