.HBCustomerList {
	background-color: white;
}

.HBCustomerList h2 {
	color:black
}

.HBCustomerList table {
	border-collapse: collapse;
	width: 100%;
}

.HBCustomerList tr {
	border-bottom: 1px solid black;
	padding-bottom: 1%;
}

.HBCustomerList thead {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

.customerType {
	width: 10%;
	text-align: left;
}

.customerFirstName {
	width: 15%;
	text-align: left;
}

.customerLastName {
	width: 15%;
	text-align: left;
}

.customerEmail {
	width: 30%;
	text-align: left;
}

.customerAddress {
	width: 30%;
	text-align: left;
}