.customerIcon {
	height: 10%;
	width: 10%;
}

.customerIcon img {
	width: 50%;
	height: 50%;
}

.HBCustomerCard table {
	border-collapse: collapse;
	width: 100%;
}

.HBCustomerCard tr {
	border-bottom: 1px solid black;
}

.customerIcon {
	width: 10%;
	text-align: left;
}

.HBCustomerCard p {
	color: black;
}