.HBSubList {
	background-color: white;
}

.HBSubList h2 {
	color:black
}

.HBSubList img{
	height: 25%;
	width: 25%;
}

.HBSubList table {
	border-collapse: collapse;
	width: 100%;
}

.HBSubList tr {
	border: 1px solid black;
}

.teaIcon {
	width: 4%;
}

.HBSubList td {
	border-left: 1px solid black;
	border-right: 1px solid black;

}

.HBSubList p {
	color: black;
}

.SubSections td p {
	text-decoration: underline;
}