.HBSubList {
	background-color: white;
}

.HBSubList h2 {
	color:black
}

.HBSubList table {
	border-collapse: collapse;
	width: 100%;
}

.HBSubList tr {
	border-bottom: 1px solid black;
	padding-bottom: 1%;
}

.HBSubList thead {
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

.subType {
	width: 10%;
	text-align: left;
}

.subName {
	width: 30%;
	text-align: left;
}

.subTotal {
	width: 15%;
	text-align: center;
}

.subStatus {
	width: 20%;
	text-align: center;
}